body {
    background: #f1f1f1;
    font-size: 16px;
}

header {
    background: #fbf300;
    margin-bottom: 2%;
    padding: 10px 2%;
}

header h1 {
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
}

header h2 {
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
}

main {
    margin: 0 2%;
}

#cadastro { 
    margin-bottom: 2%;
    padding: 10px;
}

#cadastro form {
    width: 30%;
}

#cadastro form input {
    border: 1px solid #ccc;
    display: block;
    margin: 3px 0 3%;
    border-radius: 3px;
    padding: 4px 5px;
    width: 100%;
    box-sizing: border-box;
}

.salvar {
    background: #fbf300;
    color: #000;
    margin-top: 5% !important;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 1%;
    color: #000000;
    display: inline-block;
    padding: 4px;
}

.box {
    background: white;
    border-left: 5px solid #f9e938;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    text-align: center;
}

table th, td {
    padding: 10px;
}

table th {
    background-color: #666;
    color: #fff;
}


.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 

.sync-sincronizado i {
    background: #25bf23;
    padding: 5px;
    border-radius: 50%;
    color: #fff; 
}

.sync-erro i {
    background: #c21b1b;
    padding: 5px;
    border-radius: 50%;
    color: #fff; 
}

.sync-esperando i {
    background: #239bbf;
    padding: 5px;
    border-radius: 50%;
    color: #fff;  
}

.remove {
    width: 50px;
    height: 20px;
    cursor: pointer;
}